__pycache__/urlextractor.cpython-39.pyc
__pycache__/steamget.cpython-39.pyc
__pycache__/rerunner.cpython-39.pyc
__pycache__/links.pkl
__pycache__/htmgeny.cpython-39.pyc
__pycache__/data.json
new.json
new.html
links.pkl
failed.pkl
data.json
data.html
