
testingstf
doctrees
geckodriver.log
src/__pycache__/
src/libs/__pycache__/
docs/.doctrees/
.vscode/settings.json
.gitignore
src/data/Credentials.json
src/data/deviantXsteam.csv
src/data/failed.csv
src/data/cookie.pkl
src/data/localprice.csv
