
.cont {
  border-collapse: collapse;
  width: 100%;
}
.cont tr:hover {
  background-color: rgb(235, 4, 4);
}
.cont tr:nth-child(even) {
  background-color: rgb(43, 42, 42);
}
.cont th,
.cont td {
  border: 1px solid #ddd;
  padding: 8px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cont th {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: left;
  background-color: #309fd4;
  color: white;
}

body {
  background-color: #0e1117;
}

